mat-sidenav {
  width: 200px;
}

main {
  padding: 1em;
}

.active {
  background-color: #ffd740
}

pre {
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
}
