<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav opened mode="side" role="navigation">
    <mat-toolbar color="primary">Madlibs</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item>One</a>
      <a mat-list-item>Two</a>
      <a mat-list-item>Three</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content role="main">
    <mat-toolbar color="accent" class="sticky-top"></mat-toolbar>
    <main>
      <app-madlib-page></app-madlib-page>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>